
{% extends 'default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h3> Новости </h3>
    <h4><a href="categories/{{ category.id }}" >{{ category }}</a></h4>

    <form action="" method="get">
        {% csrf_token %}
        {{ filterset.form.as_p }}
        {% if is_not_subscriber %}
          <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
        {% endif %}
    </form>

    <hr>

    {% if category_news_list %}
       <table>
           <tr>
               <td>Дата публикации</td>
               <td>Заголовок</td>
               <td>Текст</td>
               <td>Категория</td>
           </tr>
           {% for new in category_news_list %}
           <tr>
               <td>{{ new.date_created | date:'d M Y' }}</td>
               <td>{{ new.content | truncatewords:20 }}</td>


               <td>{% for new in post.category.all %}
                <a href="categories/{{ category.id }}">{{ category }}</a>
                {% endfor %}
                </td>
           </tr>
           {% endfor %}
       </table>

   {% else %}
       <h2>Новостей нет</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}

           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}

           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
